body{
    margin:0;
    padding: 0;
    font-family: 'HelveticaNeue', sans-serif;
    color: #000000;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}


.question-mark {
  color: #1DD3A7;
  float: right;
  font-size: 21px;
  margin-top: -3px;
}

.modal {
  display: block;  /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
  color:#506784;
}

._dash-undo-redo {
  display: none;
}

.app-title{
  font-size:3rem;
  letter-spacing:-.1rem;
  vertical-align:middle;
  margin: auto
}

.insideheader {
  display: flex;
  justify-content: space-between;
  flex-grow: 100;
}

.header{
    margin: 0px;
    background-color: #1DD3A7;
    height: 70px;
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    font-family: HelveticaNeue;
    font-size: 3rem;
    display: flex;
    align-items: center;
}


.description {
  margin: 0px;
  padding-right: 2%;
  padding-left: 2%;
  background-color: white:
}

summary:focus {
  outline: none;
}



.explanation_summary p{
  margin-bottom: -0.1em
}

.brandimage {

}

.indicator{
    border:1px solid #C8D4E3;
    border-radius: 3px;
    background-color: white;
    height:100px;
    vertical-align:middle;
}

.indicator_text{
    text-align: center;
    float: left;
    font-size: 15px;
    }

.indicator_value{
    text-align:center;
    color: #2a3f5f;
    font-size: 35px;
}

.add{
    height: 34px;
    background: #119DFF;
    border: 1px solid #119DFF;
    color: white;
}


.chart_div{
    background-color: white;
    border: 1px solid #C8D4E3;
    border-radius: 3px;
    height: 300px;
}


.chart_div p{
  color: #2a3f5f;
  font-size: 13px;
  text-align: center;
}


.scenario-name {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left:  20px;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-bottom: 3px
}


.big-text {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-top: 20px;
}


.scenario-input {
  border: 0px solid #36527c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: : #a6a6a6
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #808080;
  text-align: left;
  font-size: 10;
  margin: 2%
}

.footer p{
  margin-bottom: -0.1em
}


td {
  text-align: left;
  padding: 0px;
}

table {
  border: 1px;
  font-size:1.3rem;
  width:100%;
  font-family:Ubuntu;
}

.tabs_div{
  margin:0px;
  height:30px;
  font-size:13px;
  margin-top:1px
}
