input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid white;
    top: 2px;
}

input[type='radio']:checked:after {
    left: -1px;
    position: relative;
    background-color: #1DD3A7;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
}

input[type='radio']:checked:disabled:after {
    left: -1px;
    position: relative;
    background-color: #a6a6a6;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
}

input[type='radio']:disabled:after {
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid white;
}

input[type='radio']:focus {
  outline: none;
}
